/* 
 *  Copyright (c) 2023 Callender-Consulting
 *
 *  SPDX-License-Identifier: Apache-2.0
 */

/*
 *  Add Caliper GPIO pins to DTS config
 */

/ {
    caliper {
        compatible = "caliper";
        caliper_clock: clock {
            gpios = <&gpio0 3 0>;
            label = "CLOCK";
        };
        caliper_data: data {
            gpios = <&gpio0 4 0>;
            label = "DATA";
        };
        caliper_test: test {
            gpios = <&gpio0 28 0>;
            label = "TEST";
        };
    };

    aliases {
        caliper-clock = &caliper_clock;
        caliper-data  = &caliper_data;
        caliper-test  = &caliper_test;
    };
};

